/* Universal Styles */

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

main, footer {
    position: relative;
}

.mobile {
    display: none;
}

/* Header Styles */

header {
    border-bottom: 1px solid rgb(120, 120, 120);
}

header nav > div {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav li {
    padding-left: 1rem;
    text-align: center;
}

header nav a {
    text-decoration: none;
    color: black;
}

header nav a:hover {
    font-weight: bolder;
    color: rgb(120, 120, 120);
}

header .button {
    background-color: rgb(120, 120, 120);
    border: 1px solid rgb(120, 120, 120);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

header .button:hover {
    background-color: white;
    border: 1px solid rgb(120, 120, 120);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

@media only screen and (max-width: 800px) {
    header .desktop .hide {
        display: none;
    }
}

@media only screen and (max-width: 660px) {
    header .desktop {
        display: none;
    }

    header .mobile {
        display: block;
    }

    header .mobile ul {
        display: flex;
        justify-content: space-around;
    }
}

/* Main Content Styles */

.outer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about {
    width: 100%;
    height: 500px;
    background-image: url("../images/building.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#about > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4rem;
    border-radius: 10px;
}

#about h1 {
    font-size: 4rem;
    padding: 0.5rem;
}

.banner h2 {
    font-size: 1.5rem;
}